body{
	margin: 0;
	padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.row{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  
/* Styles for desktop view */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add this line */
    margin: 0 -10px; /* Add this line */
}

.section {
    flex-basis: 33.33%;
    padding: 20px;
    float: left;
    position: relative;
    box-sizing: border-box; /* Add this line */
    margin-bottom: 20px; /* Add this line */
    margin: red;
    background-color: gray; /* Add this line */
    border: 20px solid white; /* Add this line */
}

.inner-border {
    box-shadow: inset 0 0 0 3px  black
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px; /* Add this line */
    background-color: pink; /* Add this line */
    color: black; /* Add this line */
    font-size: 125%; /* Add this line */
    padding: 1px 10px;
}

.background-red {
    background-color: red;
}
.background-yellow {
    background-color: yellow;
}
.background-pink {
    background-color: pink;
}

/* Styles for tablet view */
@media (max-width: 991px) {
    .section {
        flex-basis: 50%;
    }
    
    .section:nth-child(3) {
        flex-basis: 100%;
    }
}

/* Styles for mobile view */
@media (max-width: 767px) {
    .section {
        flex-basis: 100%;
        float: none;
    }
}

/* Additional style for center alignment */
.heading {
    text-align: center;
    font-size: 175%; /* Add this line */
    color: red;
}

